@import url('https://fonts.googleapis.com/css?family=Montserrat');

body *:not(.material-icons) {
    font-family: 'Montserrat', sans-serif !important;
}
.mdl-logo {
    margin-bottom: 5px;
    font-size: 18px;
}

.mdl-mega-footer__bottom-section {
    padding-top: 0;
    clear: both;
}

.mdl-mega-footer__bottom-section p {
    font-size: 16px;
}

.mdl-mini-footer{
    padding:0;
}

.visible-mobile {
    display: block !important;
}

.visible-desktop {
    display: none !important;
}


@media all and (min-width: 768px) {
    .visible-mobile {
        display: none !important;
    }

    .visible-desktop {
        display: block !important;
    }
}